.menu{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--size-lg);
}

.sidebar{
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: 'Glegoo', sans-serif;
    border-right: 1.5px solid var(--clr-dark);
}

.drinks__sidebar, .foods__sidebar{
    display: flex;
    flex-direction: column;
    font-size: var(--size-sm);
    gap: var(--size-xl);
    margin-top: var(--size-6xl);
}

.sidebar__title{
    color: var(--clr-seaGreen);
}
.nav__list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
}

.nav__list li {
    position: relative;
    margin: 10px 0; /* Adjust spacing as needed */
}

.nav__list a {
    text-decoration: none;
    display: inline-block;
    position: relative; /* Ensure the link is positioned relative for the pseudo-element */
}

.nav__list a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; 
    background: var(--clr-beige); 
    transform: scaleX(0); 
    transform-origin: left;
    transition: transform 0.3s ease, font-weight 0.3s ease; 
}

.nav__list a:hover::after , .nav__list a.active::after{
    transform: scaleX(1); 
}

.nav__list a:hover, .nav__list a.active{
    font-weight: 600;
}

.menu__content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: var(--size-7xl);
    margin-top: var(--size-5xl);
    font-family: 'Glegoo', sans-serif;
    width: 100%;
}

.card{
    background-color: #e7dfcc;
    width: 200px;
    height: auto;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: var(--size-lg) var(--size-base);
    margin-bottom: var(--size-xl);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    transition: transform 1s ease, box-shadow 0.6s ease;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 13px 21px 1px rgba(0,0,0,0.86);
        img {
        transform: translateY(-25%) scale(1.1);
    }
}

.card__descp{
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-25%);
    gap: var(--size-xxs);
}

.card__title {
    font-size: var(--size-base);
    font-weight: 300;
}

.card__price {
    font-size: var(--size-sm);
    font-weight: 600;
}

.card img {
    width: 110px;
    height: auto;
    transform: translateY(-25%);
    transition: transform 0.6s ease;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    cursor: pointer;
    z-index: 99999;
}

.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-xl);
    background-color: var(--clr-light);
    margin: 15% auto;
    padding: var(--size-3xl);
    border: 2px solid var(--clr-dark);
    border-radius: 16px;
    width: 80%; 
    height: auto;
    position: relative;
    text-align: center;
    cursor:initial;
    font-weight: 600;
}

.modal__title{
    font-weight: 1000;
}

.modal__price{
    font-size: var(--size-base);
}

.modal__ingredients{
    color: var(--clr-darkBrown);
}

.modal__img{
    width: 160px;
    height: auto;
    transition: transform 0.6s ease;
}

.modal__img:hover{
    transform: scale(1.1);
}

.modal__btn button {
    font-size: var(--size-xs);
    padding: 0.7rem 1.5rem;
    background-color: transparent;
    border: 2px solid var(--clr-dark);
    border-radius: 18px;
    color: var(--clr-dark);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
    z-index: 0;
    transition: transform 0.6s ease;
}

.modal__btn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--clr-seaGreen); /* background color on hover */
    border-radius: 12px;
    z-index: -1;
    transform: translateX(-100%);
    transition: transform 0.6s ease;
}

.modal__btn button:hover::before {
    transform: translateX(0); 
}

.modal__btn button:hover {
    transform: scale(1.08);
    color: var(--clr-darkBrown);
    font-weight: 600;
    border: 2px solid var(--clr-dark);
    z-index: 0;
}


.close {
    position: absolute; /* Change to absolute */
    top: 10px; /* Adjust as needed */
    right: 25px; /* Adjust as needed */
    color: var(--clr-dark);
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
}
.close:hover,
.close:focus {
    color: var(--clr-seaGreen);
    text-decoration: none;
    cursor: pointer;
}

/* xs */
@media (min-width: 475px) {
    .menu{
        grid-template-columns: 2.5fr 7.5fr;
    }

    .modal__content {
        width: 375px;
    }

    .drinks__sidebar, .foods__sidebar{
        font-size: var(--size-base);
    }

    .card__container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .card{
        width: 240px;
    }
}

/* sm */
@media (min-width: 640px) {
    .modal__content {
        width: 440px;
    }
}

/* md */
@media (min-width: 768px) {
    .modal__content {
        width: 568px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .modal__content {
        width: 568px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .menu{
        grid-template-columns: 2fr 8fr;
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */